@import "styles/_variaveis";

.container {
  background-image: url(../PaginaInicial/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 70px;
}

.apresentacao {
  padding: 20px 50px;
  font-family: $fonte-roboto;
  h1,
  h2,
  span {
    font-size: $tamanho-do-texto * 2.8;
  }

  .texto {
    margin: 6px;
  }

  span {
    color: $cor-apresentacao;
    &::after {
      content: "|";
      margin-left: 5px;
      opacity: 1;
      animation: pisca 0.7s infinite;
    }
  }
  @keyframes pisca {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  span:hover {
    color: blue;
  }

  img {
    border-radius: 250px;
    float: right;
  }
  ul {
    display: flex;
    list-style: none;
    li {
      margin: 0 15px;
      transition: 0.5s;

      &:hover {
        transform: scale(1.2);
      }
    }

    img:hover {
      height: auto;
      width: 100%;
    }
  }
}

.sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  margin-top: 180px;

  .conteudo {
    width: 80%;
  }

  h1 {
    font-size: $tamanho-do-titulo;
    color: $cor-sobre;
  }
  p {
    font-family: $fonte-roboto-condensed;
    font-style: italic;
    color: white;
    font-weight: bold;
    font-size: $tamanho-do-texto * 1.5;
  }
}

.vitrine {
  margin-top: 50px;
  padding-bottom: 50px;
  text-align: center;

  img {
    transition: 1s;
    &:hover {
      transform: scale(1.2);
    }
  }
}

@media (min-width: 360px) {
  .container {
    .apresentacao {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        float: none;
        width: 80vw;
      }
      h1,
      h2,
      span {
        font-size: $tamanho-do-texto * 1.4;
        padding-top: 15px;
      }
      ul {
        li {
          margin: 0 5px;
          img {
            width: 18vw;
            height: 5vw;
          }
        }
      }
    }
  }

  .sobre {
    margin: 0;

    h1 {
      font-size: $tamanho-do-titulo / 1.5;
      text-align: center;
    }
    p {
      font-size: $tamanho-do-texto;
    }
  }
}

@media (min-width: 414px) {
  .container {
    .apresentacao {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        float: none;
        width: 80vw;
      }
      h1,
      h2,
      span {
        font-size: $tamanho-do-texto * 1.8;
        padding-top: 15px;
      }
      ul {
        li {
          margin: 0 5px;
          img {
            width: 20vw;
            height: 7vw;
          }
        }
      }
    }
  }

  .sobre {
    margin: 0;

    h1 {
      font-size: $tamanho-do-titulo;
      text-align: center;
    }
    p {
      text-align: center;
      font-size: $tamanho-do-texto * 1.4;
    }
  }
}

@media (min-width: 720px) {
  .container {
    .apresentacao {
      padding: 20px 10px;
      display: block;

      h1,
      h2,
      span {
        font-size: $tamanho-do-texto * 1.8;
      }
      img {
        width: 30vw;
        float: right;
      }
      ul {
        display: flex;
        li {
          img {
            width: 10vw;
            height: 2.1vw;
          }
        }
      }
    }

    .sobre {
      margin: 0;
      h1 {
        font-size: $tamanho-do-titulo;
        text-align: center;
      }
      p {
        text-align: justify;
        font-size: $tamanho-do-texto * 1.5;
      }
    }

  }
}

@media (min-width: 1440px) {
  .container {
    .apresentacao {
      padding: 20px 50px;

      h1, h2, span {
        font-size: $tamanho-do-texto * 2.8;
      }
      ul {
        li {
          img {
            width: 8vw;
            height: 2vw;
          }
        }
      }
    }
  }
}

@media (min-width: 1920px) {
  .container {
    .apresentacao {
      padding: 60px 40px;
      img {
        width: 20vw;
      }

      ul {
        li {
          img {
            width: 5vw;
            height: 1.5vw;
          }
        }
      }
    }
  }
}