// cores
$cor-apresentacao: #16FF00;
$cor-sobre: #14FFEC;

// fontes
$fonte-mont-serrat: 'Montserrat', sans-serif;
$fonte-roboto: 'Roboto', sans-serif;
$fonte-roboto-condensed: 'Roboto Condensed', sans-serif;

// tamanho das fontes
$tamanho-do-texto: 1rem;
