// cores
$cor-apresentacao: #16ff00;
$cor-do-titulo: #14ffec;

// fontes
$fonte-mont-serrat: "Montserrat", sans-serif;
$fonte-roboto: "Roboto", sans-serif;
$fonte-roboto-condensed: "Roboto Condensed", sans-serif;

// tamanho das fontes
$tamanho-do-texto: 1rem;
$tamanho-do-titulo: $tamanho-do-texto * 3;
