.container {
    background: url(./background3.png);
    background-size: 100vw;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;



    .lista {
        ul {
            padding: 0;
            display: flex;
            justify-content: space-evenly;
            li {
                p {
                    color: white;
                }
                list-style: none;
                img {
                    max-width: 250px;
                    height: 250px;
                    margin: 15px;
                    overflow: hidden;
                    border-radius: 15px;
            }
        }

        }
    }
}
