@import 'styles/variaveis';

.cabecalho {
    display: flex;

    justify-content: flex-end;
    align-items: center;
    padding: 1.1em 4em;
    align-items: center;
    position: fixed;
    right: 0;
    background: rgba(196, 196, 196, 0);
    backdrop-filter: blur(10px);
    width: 100%;
    font-family: $fonte-roboto;

    .nav {

        li {
            
            margin-right: 1em;
            list-style: none;
            transition: 1s;
            border: 10px;
            transition: 1s;
            margin: 0 25px;
            padding: 0;
            display: inline-block;
            position: relative;
            color: $cor-apresentacao;
            font-size: $tamanho-do-texto * 1.3;
            &:hover {
                transform: scale(1.6);
            }
            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 2px;
                background-color: turquoise;
                transition: width 0.3s ease-in-out;
            }

            &:hover::before {
                width: 100%;
            }

        }
    }
}

/* 
        position: fixed;
        display: flex;
*/