@import 'styles/_variaveis';

.modal {
    color: black
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    z-index: 2;

    .conteudo {
        background: #fff;
        padding: 15px;
        border-radius: 15px;
        width: 70%;
        height: 70%;
        z-index: 10;
    

        .grid {
            display: grid;
            height: 100%;
            column-gap: 50px;

            .fechar {
                grid-column: 3;
                justify-content: flex-end;
                button {
                    grid-row: 1;
                    background: none;
                    border: none;
                    cursor: pointer;
                    font-size: 15pt;
                    &:hover {
                        color: red;
                    }
                }
            }
            

            img {
                height: 100%;
                width: 100%;
                grid-column: 1;
                grid-row: 1/5;
   
 
            }
            h1 {
                grid-column: 2/2;
                grid-row: 1/2;
                color: red;

                text-align: center;
            }
            h2 {
                padding: 25px;
                -size: 15pt;
                width: 100%;
                grid-row: 2/3;
                font-style: italic;
            }
            .buttons {
                grid-column: 2/4;
                grid-row: 4/4;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;
                
                .btnGitHub {
                    background: black;
  
                }
                .btnLinkedin {
                    background: orange;
                    color: black;

                }
                button {
                    color: white;
                    font-weight: 500;
                    grid-column: 2/2;
                    width: 100%;
                    padding: 20px;
                    transition: 1s;
                    border: none;
                    cursor: pointer;
                    font-size: $tamanho-do-titulo / 2;
                    &:hover {
                        color: $cor-sobre;
                    }

                

                }
            }

        }
    }
  }
  
/* 
        .fechar {
            display: flex;
            justify-content: flex-end;
            padding: 10px;
            button {
                background: none;
                border: none;
                cursor: pointer;
                font-size: 15pt;
                &:hover {
                    color: red;
                }
            }
          }
        .grid {
*/