.container {
    ul {
        display: flex;
        justify-content: space-evenly;

        
        li {
            list-style: none;

        }
        img {
            max-width: 150px;
            margin: 5px;
            border: solid 10px white;
            overflow: hidden;
        }
    }
}