.container {
  max-width: 50%;
  margin: auto;
  text-align: center;

  justify-content: center;
  .carousel {
    border: 15px transparent;
    max-height: 500px;
    display: flex;
    overflow-x: auto;



    &::-webkit-scrollbar {
      display: none;
    }
    scroll-behavior: smooth;
    .item {


      flex: none;

      border-radius: 16px;

    }
  }
  .buttons {
    width: 100%;
    .esquerda {
      float: right;
      left: 125px;
    }
    .direita {
      transform: rotate(180deg);
      float: left;
      right: 125px;
    }

    text-align: center;
    button {
      z-index: 1;
      position: relative;
      bottom: 180px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      img {
        width: 120px;
      }
    }
  }
}

/* margin-left: 280px; */

/* 
.buttons {
    width: 100%;
    text-align: center;
    button {
        border: none;
        cursor: pointer;
        img{
            width: 120px;

        }
        &:first-child {
            transform: rotate(180deg);
        }
    }
}
*/

/* 


*/
